# Virtual Environment Directory for Linux
venv

# Metadata of PyCharm IDE
.idea

# PyCached File
__pycache__
src/*/__pycache__
utils/*/__pycache__
networks/*/__pycache__

# Notebook Checkpoints
.ipynb_checkpoints

# Ignore Raw Data
data/raw

# Pretrained Models
pretrained_models

# Temporary Python File
src/tmp.py

# Visualization Results
output/visualization

# Temporary Local Backups
.backup